VITE_LIFF_ID=2010298394-7PwRtpTY
VITE_AUTO_LINE_LOGIN=true
VITE_PUBLIC_LIFF_URL=https://vevva.web.app
VITE_FIREBASE_API_KEY=AIzaSyAhPSWe0Vx8DTOC7gtp5ZJO1jfBnE3Y9oU
VITE_FIREBASE_AUTH_DOMAIN=veeva-8d30c.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=veeva-8d30c
VITE_FIREBASE_STORAGE_BUCKET=veeva-8d30c.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=448360837259
VITE_FIREBASE_APP_ID=1:448360837259:web:d632a699cce1259b7ee48e
