rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /activities/{activityId} {
      allow read: if true;
      allow write: if true;
    }

    match /news/{newsId} {
      allow read: if true;
      allow write: if true;
    }

    match /rewards/{rewardId} {
      allow read: if true;
      allow write: if true;
    }

    match /members/{memberId} {
      allow read, create, update: if true;
      allow delete: if false;
    }

    match /reviewSubmissions/{reviewId} {
      allow read, create, update: if true;
      allow delete: if false;
    }

    match /adminUsers/{adminUserId} {
      allow read, create, update: if true;
      allow delete: if false;
    }
  }
}
